<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A financial planning app for all casual mates." />

    <title>WorkMate - @ViewBag.Title</title>

    @Styles.Render("~/bundles/content/core")
    @RenderSection("styles", required: false)
</head>
<body>
    <header>
        @Html.Partial("~/Views/Shared/_Header.cshtml")
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <hr />
    <footer class="container-fluid">
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </footer>

    @Scripts.Render("~/bundles/scripts/core")
    @RenderSection("scripts", required: false)
</body>
</html>